html,body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
.container{
  margin: 0 auto;
  width: 960px;
  padding-top: 10px;
}

.background01{
  width: 100vw;
  height: 100vh;
  background-color: #F8C501;
  clip-path: polygon(-10% 0%, 40% 0%, 75% 100%, -10% 100%);
  position: absolute;
  z-index: -1
}

.background02{
  width: 100vw;
  height: 100vh;
  background-color: #F8C501;
  clip-path: polygon(39% 0%, 110% 0%, 110% 100%, 74% 100%);
  position:absolute;
  z-index: -1
}

.cracked {
  font-family: Coolvetica, Arial;
  font-size: 2rem;
  color:#fff;
  text-transform: uppercase;
  position: relative;
  animation-direction: alternate;
}
.cracked span:nth-child(1).absolute ,
.cracked span:nth-child(2).absolute {
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  display: block;
}

.cracked span:nth-child(2){
  display: none;
}

.cracked span:nth-child(1).absolute  {
  clip-path: polygon(-10% 0%, 40% 0%, 75% 100%, -10% 100%);
}
.cracked span:nth-child(1).crack{
  animation: crack1 0.3s ease-in forwards;
}
.cracked span:nth-child(2).absolute {
  clip-path: polygon(40% 0%, 110% 0%, 110% 100%, 75% 100%);
}
.cracked span:nth-child(2).crack {
  animation: crack2 0.3s ease-in forwards;
}

@keyframes crack1 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(-25%, 1%) rotateZ(5deg); }
}
@keyframes crack2 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(25%, -1%) rotateZ(-5deg); }
}


/* Change mode */

.changeMode {
  background-color: red;
  width: 50px;
  height: 50px;
}




.background{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  /* overflow: hidden; */
}

.background01.crack{
  animation: crack1Background 0.6s ease-in forwards;
}
.background02.crack {
  animation: crack2Background 0.6s ease-in forwards;
}

@keyframes crack1Background {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(-75%, 0%); }
}
@keyframes crack2Background {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(75%, 0%); }
}

.displayNone{
  display: none;
}
