.accueil_container{
  padding-top: 90px;
  margin: 0 auto;
  width: 768px;
}
.accueil_logo{
  max-width: 100%;
  height: auto;
}

/* Bouton Clique ici */
.accueil_bouton_cliqueici_container{
  display: flex;
  justify-content: center;
}
.accueil_bouton_cliqueici{
  width: 60%;
  text-align: center;
  margin: 0 auto;
  height: 7rem;
  cursor: pointer;
  font-size: 5rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FEC200;
}
.displayNone{
  display: none;
}
.accueil_bouton_cliqueici.crack{
  clip-path: polygon(0% 0%, 54% 0%, 58% 100%, 0% 100%);
  animation: accueil_bouton_cliqueici_crack1 0.25s ease-in forwards;
  position: absolute;
}
.accueil_bouton_cliqueici2.crack{
  clip-path: polygon(54% 0%, 100% 0%, 100% 100%, 58% 100%);
  animation: accueil_bouton_cliqueici_crack2 0.25s ease-in forwards;
  position: absolute;
  display: block;
}
@keyframes accueil_bouton_cliqueici_crack1 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(-9%, -13%) rotateZ(-9deg); }
}
@keyframes accueil_bouton_cliqueici_crack2 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(9%, 7%) rotateZ(9deg); }
}


/*  */
