

body{
  margin:0;
  padding:0;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size:40px;
  color:#111;
  background-color:#FFCC00;
}


.divback{
z-index: 1015;
  margin: -350px auto;
  width: 400px;
  height: 375px;
  background-color:#FFFFFF;
}
.sideright{
  z-index: 1100;
  display: flex;
  margin:   0 150px 0;
  width: 500px;
  height: 350px;
  position: relative;
  background-color: #FFCC00
}
.sideleft{
  z-index: 1100;
  display: flex;
  margin:   0 150px;
  width: 500px;
  height: 350px;
  position: relative;
  background-color: #FFCC00
}

.Chargebrice{
  z-index: 1100;
  display: flex;
  margin:   0 auto;
  position: relative;
}

@-webkit-keyframes animation { /* Safari, Opera, Chrome */
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }
    75% {
        transform: translateX(200px)
    }

    100% {
        transform: translateX(600px)
    }
}

@keyframes animation { /* Tous les autres navigateurs */
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }
    75% {
        transform: translateX(200px)
    }

    100% {
        transform: translateX(600px)
    }
}

.divfront
{
  z-index: 1080;
    margin: 0 auto;
    margin-top: -400px;
    width: 500px;
    height: 350px;
    background-color: #000
}

.divfront
{
    -webkit-animation: £animation 10s; /* Safari, Opera, Chrome */
    animation: animation 10s; /* Tous les autres navigateurs */
}
.foot
{
  margin-top: 650px;
  font-size:18px  ;

}
