

body{
  margin:0;
  padding:0;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size:40px;
  color:#444;
  background-color:#AAEEFF;
}
;
.divback{
z-index: 1005
  width: 200px;
  height: 200px
  color:#fff;
}
.divfront{
  z-index: 1010;
  margin: 0 auto;
  height: 150px;
  width: 400px
background-color:#FFFFFF;
 }
.Chargebrice{
  z-index: 1100;
  display: flex;
  margin:   0 auto;
  position: relative;
}

@-webkit-keyframes animation { /* Safari, Opera, Chrome */
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }
    75% {
        transform: translateX(200px)
    }

    100% {
        transform: translateX(600px)
    }
}

@keyframes animation { /* Tous les autres navigateurs */
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(150px);
    }
    75% {
        transform: translateX(200px)
    }

    100% {
        transform: translateX(600px)
    }
}

.divfront
{
  z-index: 1080;
    margin-top: -200px;
    width: 500px;
    height: 150px;
    background-color: #000
}

.divfront
{
    -webkit-animation: £animation 10s; /* Safari, Opera, Chrome */
    animation: animation 10s; /* Tous les autres navigateurs */
}
.foot
{
  margin-top: 650px;
  font-size:18px  ;

}
