html, body{
  z-index: 1001;
  margin:0;
  padding:0;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size:40px;
  color:#111;
  background-color:#FFCC00;
  overflow:hidden;
}


.divback{
z-index: 1015;
  margin: -410px auto auto;
  width: 450px;
  height: 400px;
  background-color:#000;
  max-width: 100%;

}

.Chargebrice{
  z-index: 1100;
  display: flex;
  margin:   0 auto;
  position: relative;
}
img {
	max-width: 100%;
	height: auto;
}

.fade-out{
  -webkit-animation: fade-out 1s;
  animation-fill-mode: forwards;
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}
@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes animation {
  0% {
      transform: translateX(0px);
  }
  15%{
      transform: translateX(250px);
  }

  30% {
      transform: translateX(300px);
  }
  45% {
      transform: translateX(350px)
  }
  52% {
      transform: translateX(200px)
  }
  60% {
      transform: translateX(350px)
  }
  75% {
      transform: translateX(320px)
  }
  80%{
      transform: translateX(200px)
  }
  85% {
      transform: translateX(100px)
  }
  90%{
      transform: translateX(300px)
  }
  100% {
      transform: translateX(390px)
  }
}

@keyframes animation {
  0% {
      transform: translateX(0px);
  }
  15%{
      transform: translateX(250px);
  }

  30% {
      transform: translateX(300px);
  }
  45% {
      transform: translateX(100px)
  }
  52% {
      transform: translateX(200px)
  }
  60% {
      transform: translateX(150px)
  }
  75% {
      transform: translateX(100px)
  }
  80%{
      transform: translateX(200px)
  }
  85% {
      transform: translateX(100px)
  }
  90%{
      transform: translateX(300px)
  }
  100% {
      transform: translateX(390px)
  }
}
.divfront
{
  z-index: 1080;
    margin: 0 auto;
    margin-top: -500px;
    width: 400px;
    height: 280px;
    background-color: #FFF;
}

.animation{
  -webkit-animation: animation 8s;
  animation-fill-mode: forwards;
  animation: animation 8s;
  animation-fill-mode: forwards;
}

.but{
  z-index: 1200;
}
.button{
  background-color: #000;
  border: none;
color: #FFF;
padding: 15px 250px;
text-align: center;
text-decoration: none;
border-radius: 12px;
display: inline-block;
font-size: 16px;
cursor: pointer;
margin-top: 3rem;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.foot
{
  margin-top: 700px;
  font-size:18px;
}


}
.container{
  z-index: 1800;
  margin: 0 auto;
  width: 960px;
  padding-top: 10px;
}

.background01{
  width: 100vw;
  height: 100vh;
  background-color: #FFCC00;
  clip-path: polygon(-10% 0%, 40% 0%, 75% 100%, -10% 100%);
  position: absolute;
  z-index: -1
}

.background02{
  width: 100vw;
  height: 100vh;
  background-color: #FFCC00;
  clip-path: polygon(39% 0%, 110% 0%, 110% 100%, 74% 100%);
  position:absolute;
  z-index: -1
}

.background{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  /* overflow: hidden; */
}

@keyframes crack1Background {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(-75%, 0%); }
}
@keyframes crack2Background {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(75%, 0%); }
}

.displayNone{
  display: none;
}

.chargement_start{
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #fff;
}

.chargement_casque_audio{
  width: 15%;
  margin: 0 auto;
  text-align: center;
  fill: white;
}


.chargement_casque_audio img{
  margin-top: 50%;
}
