html, body{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  overflow : -moz-scrollbars-horizontal;
  scroll-behavior: smooth;
}
.header_container{
  width: 100vw;
  height: 1.5625rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.header_container div:nth-child(1){
  background-color: #FFCC00;
  width: 50%;
  height: 2.25rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #161616;
  padding-top: 0rem;
  z-index: 1000;
}
.header_container div:nth-child(1) a{
  color: #161616;
  text-decoration: none;
}
.header_container div:nth-child(1) a:hover{
  color: #333;
  text-decoration: none;
}
.header_bloc01.active{
  background-color: #FFCC00;
  height: 100rem;;
  width: 100vw;
  position: absolute;
  z-index: -100;
}
.header_bloc02.active{
  background-color: #161616;
  height: 100rem;
  width: 100vw;
  position: absolute;
  z-index: 990;
}
.header_container div:nth-child(2){
  background-color: #161616;
  width: 50%;
  height: 2.25rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 0rem;
  z-index: 1000;
}
.header_container div:nth-child(2) a{
  color: #A8890D;
  text-decoration: none;
}
.header_container div:nth-child(2) a:hover{
  color: #FFCC00;
  text-decoration: none;
}
