.homepage_container{
  padding-top: 90px;
  margin: 0 auto;
  width: 960px;
}
.homepage_logo{
  max-width: 100%;
  height: auto;
}

/* button Clique ici */
.homepage_button_cliqueici_container{
  display: flex;
  justify-content: center;
}
.homepage_button_cliqueici{
  width: 60%;
  text-align: center;
  margin: 0 auto;
  height: 7rem;
  cursor: pointer;
  font-size: 5rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FEC200;
}
.displayNone{
  display: none;
}
.homepage_button_cliqueici.crack{
  clip-path: polygon(0% 0%, 54% 0%, 58% 100%, 0% 100%);
  animation: homepage_button_cliqueici_crack1 0.25s ease-in forwards;
  position: absolute;
}
.homepage_button_cliqueici2.crack{
  clip-path: polygon(54% 0%, 100% 0%, 100% 100%, 58% 100%);
  animation: homepage_button_cliqueici_crack2 0.25s ease-in forwards;
  position: absolute;
  display: block;
}
@keyframes homepage_button_cliqueici_crack1 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(-9%, -13%) rotateZ(-9deg); }
}
@keyframes homepage_button_cliqueici_crack2 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(9%, 7%) rotateZ(9deg); }
}
.homepage_button_cliqueici_message{
  color: #FFF;
  text-align: left;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 2rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.7rem;
  margin-top: 4rem;
  width: 50%;
  border-left:  0.2rem solid;
}

/* video trailer */
#homepage_video_trailer{
  width: 100%;
  height: auto;
  margin-top: 3rem;
  outline: none;
}
