/* homepage part 1 */
.homepage_part_1_container{
  padding-top: 5.625rem;
  margin: 0 auto;
  width: 60rem;
  padding-bottom: 3rem;
}
.homepage_logo_container{
  width: 100%;
  height: auto;
  text-align: center;
}
.homepage_logo_container img{
  max-width: 100%;
  height: auto;
  padding: 2rem;
}
/* button Clique ici */
.homepage_button_cliqueici_container{
  display: flex;
  justify-content: center;
}
.homepage_button_cliqueici{
  width: 45%;
  text-align: center;
  margin: 0 auto;
  height: 7.5rem;
  cursor: pointer;
  font-size: 4rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #161616;
  color: #FFDC20;
  border-radius: 10px;
}
.homepage_button_cliqueici span{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.displayNone{
  display: none;
}
.homepage_button_cliqueici.crack{
  clip-path: polygon(0% 0%, 54% 0%, 58% 100%, 0% 100%);
  animation: homepage_button_cliqueici_crack1 0.25s ease-in forwards;
  position: absolute;
}
.homepage_button_cliqueici2.crack{
  clip-path: polygon(54% 0%, 100% 0%, 100% 100%, 58% 100%);
  animation: homepage_button_cliqueici_crack2 0.25s ease-in forwards;
  position: absolute;
  display: block;
}
@keyframes homepage_button_cliqueici_crack1 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(-9%, -13%) rotateZ(-9deg); }
}
@keyframes homepage_button_cliqueici_crack2 {
  0% {transform: translate(0%,0%); }
  100% {transform: translate(9%, 7%) rotateZ(9deg); }
}
.homepage_button_cliqueici_message_container{
  height: 13rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.homepage_button_cliqueici_message{
  color: #FFF;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  font-size: 2rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.7rem;
  width: 60%;

}

.homepage_button_cliqueici_message span{
    border-left:  0.2rem solid;
    padding-left: 1rem;
}

/* video trailer */
#homepage_video_trailer{
  width: 100%;
  height: auto;
  margin-top: 0rem;
  outline: none;
}
/* Mode nice */

.homepage_button_modenice_container{
  display: flex;
  justify-content: center;
  width: 60rem;
  margin: 0 auto;
}

.homepage_button_modenice{
  width:30%;
  text-align: center;
  margin: 0 auto;
  height: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FFDC20;
  color: #161616;
  border-radius: 10px;
}
.homepage_button_modenice a{
  color: #000;
  text-decoration: none;
}
.homepage_button_modenice a:hover{
  color: #333333;
  text-decoration: none;
}


/* homepage part 2 */

.homepage_part_2_container{
  background-color: #CADFF2;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: auto;
}
.homepage_part_2_actor_container{
  width: 100%;
  display: flex;
}
.homepage_img_pack01, .homepage_img_pack02  {
  width: 50%;
}

.homepage_img_pack01 img{
  width: 100%;
  margin-top: 0.7rem;
}

.homepage_img_pack02 img{
  width: 100%
}

.homepage_img_pin{
  position: absolute;
  width: 2rem;
  left: calc(50% - 1rem);
}

.homepage_img_pin img{
  width: 3rem;

}


/* billeterie */

.homepage_part_2_ticket{
  width: 23rem;
  text-align: center;
  margin: 5rem auto 5rem auto;
  height: 4rem;
  cursor: pointer;
  font-size: 3rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #FFDC20;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage_logo_movie{
  margin: 2rem auto;
}

.homepage_date span{
  font-size: 3rem;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
}



/* easteregg */

.easteregg01{
  width: 9.375rem;
  position: absolute;
  right: 8rem;
  top: 3rem;
}
